.backgroundCSS {
	background-color: #eac67a;
	color: #233237;
	font-family: Lucida Sans Unicode;	
	font-size: 16px;
	
}

button {
		border: none;
		color: 233237;
		font-family: Lucida Console;
		padding: 10px 12px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.6s;
		transition-duration: 0.6s;
		cursor: pointer;
}

button {
		color: #eac67a; 
		background-color: #233237;
		border: 2px solid #984b43;
}

button:hover {
		background-color: #f4f2e6;
		color: #984b43;
}

h1 {
	font-family:Arial Black, Gadget, Sans-serif;
	font-size: 70px;
	color: #984b43;
	text-shadow: 1px 1px 4px #18121e, 0 0 10px #233237, 0 0 15px #233237;
}

input {
	box-shadow: 4px 4px 4px #b82601;
	color: #062f4f;
}

.score-board {
	text-align: center;
	padding: 25px;
}

.player {
	display: inline-block;
	padding: 15px;
}

.player h4 {
	font-weight: bold;
}

.score-box {
	border: 3px solid black;
	padding: 30px;
	color: #2CB3C9;
}

#intro1 {
	justify-content: center;
	margin-left: auto;
    margin-right: auto;
	font-weight: bold;
}

#playerName	{
	color: #233237;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 0 0 4px grey;
}

#opponentName 	{
	color: #233237;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 0 0 4px grey;
}

#listOpponent {
	font-family: Courier New;
	font-size: 30px;
	font-weight: bold;
	color: #984b43;
	text-shadow: 0 0 2px #000;
}

#listPlayer {
	font-family: Courier New;
	font-size: 30px;
	font-weight: bold;
	color: #984b43;
	text-shadow: 0 0 2px #000;
}

#playerScore	{
	font-family: Cursive;
	font-size: 40px;
	font-weight: bold;
	color: #984b43;
	text-shadow: 0 0 3px #233237;
}

#opponentScore	{
	font-family: Cursive;
	font-size: 40px;
	font-weight: bold;
	color: #984b43;
	text-shadow: 0 0 3px #233237;
}

#centerButton {
	text-align: center;
	padding: 25px;
}

.moveImage	{
	height: 300px;
	width: 375px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #233237;
    position: relative;
    -webkit-animation: myfirst 5s infinite; 
    -webkit-animation-direction: alternate; 
    animation: myfirst 5s infinite;
}

@-webkit-keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 100px; top: 0px;}
    50%  {background: blue; left: 100px; top: 100px;}
    75%  {background: green; left: 0px; top: 100px;}
    100% {background: red; left: 0px; top: 0px;}
}

@keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 400px; top: 0px;}
    50%  {background: blue; left: 400px; top: 100px;}
    75%  {background: green; left: 0px; top: 100px;}
    100% {background: red; left: 0px; top: 0px;}
}

.loserBackground	{
	background-color: black;
}

.jackCrying	{
	height: 500px;
	width: 700px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #233237;
}

