.backgroundCSS {
	background-color: #062f4f;
	color: white;
	font-family: Lucida Sans Unicode;	
	font-size: 16px;
	
}

button {
		border: none;
		color: white;
		font-family: Lucida Console;
		padding: 10px 12px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.6s;
		transition-duration: 0.6s;
		cursor: pointer;
}

button {
		color: #813772; 
		border: 2px solid #000000;
}

button:hover {
		background-color: white;
		color: #b82601;
}

h1 {
	font-family:Arial Black, Gadget, Sans-serif;
	font-size: 70px;
	color: #813772;
	text-shadow: 1px 1px 4px black, 0 0 10px #2c3f38, 0 0 15px #b82601;
}

input {
	box-shadow: 4px 4px 4px #b82601;
	color: #062f4f;
}

.score-board {
	text-align: center;
	padding: 25px;
}

.player {
	display: inline-block;
	padding: 15px;
}

.player h4 {
	font-weight: bold;
}

.score-box {
	border: 3px solid black;
	padding: 30px;
	color: #2CB3C9;
}

#intro1 {
	justify-content: center;
	margin-left: auto;
    margin-right: auto;
	font-weight: bold;
}

#playerName	{
	color: #813772;
	font-weight: bold;
	text-shadow: 0 0 5px #000;
}

#opponentName 	{
	color: #813772;
	font-weight: bold;
	text-shadow: 0 0 5px #000;
}

#listOpponent {
	font-family: Courier New;
	font-size: 20px;
	font-weight: bold;
	color: #b82601;
	text-shadow: 0 0 5px #000;
}

#listPlayer {
	font-family: Courier New;
	font-size: 20px;
	font-weight: bold;
	color: #b82601;
	text-shadow: 0 0 5px #000;
}

#playerScore	{
	font-family: Cursive;
	font-size: 30px;
	font-weight: bold;
	color: #b82601;
	text-shadow: 0 0 10px #000;
}

#opponentScore	{
	font-family: Cursive;
	font-size: 30px;
	font-weight: bold;
	color: #b82601;
	text-shadow: 0 0 10px #000;
}

#centerButton {
	text-align: center;
	padding: 25px;
}






